<md-dialog class="forgot-password"  aria-label="Olvido su contraseña">
  <form name="forgotForm" novalidate >
    <md-dialog-content >
         <h2 class="md-title">¿Olvidó su contraseña?</h2> 
         <div class="h5">Ingrese el correo registrado previamente para poder reiniciar su contraseña.</div>
         <md-input-container class="md-block" md-no-float>
            <input ng-keypress="vm.keypress($event)" type="text" name="email" ng-model="vm.email" placeholder="Correo"
             server-validation="['auth/user-not-found']"
            ng-pattern="/^.+@.+\..+$/" required>
           <div ng-messages="forgotForm.email.$error"
                             role="alert">
                           <div ng-message="required">
                             <span >El correo es requerido.</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Debe ser un correo valido.</span>
                        </div>
                         <div ng-message="auth/user-not-found">
                            <span >El correo no se encuentra registrado.</span>
                        </div>
                      </div>

         </md-input-container>
        
                  
      </md-dialog-content>
       <md-dialog-actions>
         <md-button class="md-primary " ng-click="vm.cancel()">
           Cancelar
         </md-button>
         <md-button class="md-primary" ng-click="vm.reset()" ng-disabled="forgotForm.$invalid">
            Aceptar
         </md-button>
      </md-dialog-actions>
</form>

          
</md-dialog>