<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" >
            <div class="logo">
                <img src="assets/images/logos/logo-aplitur.png" alt="logo">
            </div>
            <form name="loginForm" novalidate ng-submit="vm.login()">
                <md-input-container class="md-block" md-no-float>
                    <input type="text" name="email" ng-model="vm.loginForm.email" placeholder="Correo"
                           ng-pattern="/^.+@.+\..+$/" 
                           server-validation="['auth/user-not-found','auth/no-admin']"
                           required>
                    <div ng-messages="loginForm.email.$error" role="alert" >
                        <div ng-message="required">
                            <span >El correo es requerido.</span>
                        </div>
                        <div ng-message="pattern">
                            <span >Debe ser un correo valido.</span>
                        </div>
                        <div ng-message="auth/user-not-found">
                            <span >El correo no se encuentra registrado</span>
                        </div>
                        <div ng-message="auth/no-admin">
                            <span >El correo no está autorizado</span>
                        </div>
                       

                    </div>
                  

                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.loginForm.password" placeholder="Password"
                            server-validation="['auth/wrong-password']"
                         
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>La contraseña es requerida.</span>
                        </div>
                         <div ng-message="auth/wrong-password">
                            <span >La contraseña  es incorrecta.</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="column" layout-xs="column"
                     layout-align="space-between center">

                   
                </div>
                
                <md-button type="submit" class="md-raised md-accent  submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine || vm.isLoading"
                            >
                    INGRESAR
                   


                </md-button>
        
            </form>

         
            <div class="text-center">
                <p class="marca">© 2019 Aplitur</p>
            </div>


        </div>
    </div>
</div>