<!-- DIALOG -->
<md-dialog class="home-dialog" aria-label="Nuevo Item">

        <form name="itemForm" class="md-inline-form" novalidate>
    
            <!-- DIALOG TOOLBAR -->
            <md-toolbar class="md-accent md-raised" layout="column">
    
                <!-- TOOLBAR TOP -->
                <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <span class="title">{{vm.title}}</span>
                    <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar dialog" >
                        <md-icon md-font-icon="icon-close"></md-icon>
                    </md-button>
                </div>
    
            </md-toolbar>
            <!-- / DIALOG TOOLBAR -->
    
            <!-- DIALOG CONTENT -->
            <md-dialog-content ms-scroll>
                <md-input-container class="md-block">
                    <label >Nombre (requerido)</label>
                    <input name="nombre" ng-model="vm.item.nombre" type="text" required md-autofocus>
                    <div ng-messages="itemForm.nombre.$error" role="alert" >
                            <div ng-message="required">
                                <span >La nombre es requerido.</span>
                            </div>
                    </div>
                </md-input-container>
                
                 
                <md-input-container class="md-block">
                        <label >Descripción (requerida)</label>
                        <input name="descripcion" ng-model="vm.item.descripcion" type="text" required >
                        <div ng-messages="itemForm.descripcion.$error" role="alert" >
                                <div ng-message="required">
                                    <span >La descripción es requerida.</span>
                                </div>
                        </div>
                </md-input-container>
                
                    <md-autocomplete flex required
                         md-input-name="pais"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.item.pais"
                        md-search-text="vm.paisText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.paisText)"
                        md-item-text="item.pais"
                        md-min-length="0"
                        md-floating-label="Pais"
                        input-aria-labelledby="favoriteStateLabel"
                        input-aria-describedby="autocompleteDetailedDescription">
                      <md-item-template>
                        <span md-highlight-text="vm.paisText" md-highlight-flags="^i">{{item.pais}}</span>
                      </md-item-template>
                      <div ng-messages="itemForm.pais.$error" ng-if="itemForm.pais.$touched">
                            <div ng-message="required">
                                    <span >El pais es requerido.</span>
                                </div>
  
                        </div>
                      <md-not-found>
                            No hay pais que coincida con "{{vm.paisText}}".
                      </md-not-found>
                    </md-autocomplete>

                    <md-autocomplete flex required
                    md-input-name="pais"
                   ng-disabled="vm.isDisabledCiuidad"
                   md-no-cache="vm.noCache"
                   md-selected-item="vm.item.ciudad"
                   md-search-text="vm.ciudadText"
                   md-selected-item-change="vm.selectedItemChangeCiudad(item)"
                   md-items="item in vm.querySearchCiudad(vm.ciudadText)"
                   md-item-text="item.ciudad"
                   md-min-length="0"
                   md-floating-label="Ciudad"
                   input-aria-labelledby="favoriteStateLabel"
                   input-aria-describedby="autocompleteDetailedDescription">
                 <md-item-template>
                   <span md-highlight-text="vm.ciudadText" md-highlight-flags="^i">{{item.ciudad}}</span>
                 </md-item-template>
                 <div ng-messages="itemForm.ciudad.$error" ng-if="itemForm.ciudad.$touched">
                       <div ng-message="required">
                               <span >La ciudad es requerida.</span>
                           </div>

                   </div>
                 <md-not-found>
                       No hay cuidad que coincida con "{{vm.cuidadText}}".
                 </md-not-found>
               </md-autocomplete>

                <md-input-container class="md-block">
                    <label >Idiomas</label>
                    <input name="idiomas" ng-model="vm.item.idiomas" type="text" >
                </md-input-container>
                   
                <md-input-container>
                    <div class="text-center" ng-if="vm.newItem">                       
                        <img   ngf-thumbnail="vm.item.imgs[0]" alt=""  ngf-size="{width:200, height:200, quality:1.0}">
                    </div>
                    <choose-file layout="row" ng-if="vm.newItem">
                            <input id="fileInput"  name="img" type="file" class="ng-hide" required  ng-model="vm.item.imgs[0]" ngf-select  ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB">
                            <md-input-container flex class="md-block">
                            <input type="text" ng-model="fileName" disabled>
                            <div class="hint">Selecciona la primera fotografía (requerida)</div>
                            <div class="md-input-messages-animation error-file" ng-if="itemForm.img.$error.pattern">
                                    El formato de la Foto no es valido  
                            </div>
                            <div class="md-input-messages-animation error-file" ng-if="!itemForm.img.$pristine && itemForm.img.$error.required">
                                    La Foto del evento es requerida
                            </div>
                            <div class="md-input-messages-animation error-file" ng-if="itemForm.img.$error.maxSize">
                                    La Foto supera el tamaño permitido  max 1MB
                            </div>
                            </md-input-container>
                            <div>
                            <md-button id="uploadButton" class="md-raised md-fab md-mini">
                                <md-icon md-font-icon="icon-file-image-box" class="s16"></md-icon>
                            </md-button>
                            </div>
                    </choose-file>       
                </md-input-container>

                <md-input-container>
                        <div class="text-center" ng-if="vm.newItem">                       
                            <img   ngf-thumbnail="vm.item.imgs[1]" alt=""  ngf-size="{width:200, height:200, quality:1.0}">
                        </div>
                        <choose-file layout="row" ng-if="vm.newItem">
                                <input id="fileInput"  name="img[1]" type="file" class="ng-hide"   ng-model="vm.item.imgs[1]" ngf-select  ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB">
                                <md-input-container flex class="md-block">
                                <input type="text" ng-model="fileName" disabled>
                                <div class="hint">Selecciona la segunda fotografía (opcional) </div>
                                <div class="md-input-messages-animation error-file" ng-if="itemForm.img[1].$error.pattern">
                                        El formato de la Foto no es valido  
                                </div>
                                <div class="md-input-messages-animation error-file" ng-if="!itemForm.img[1].$pristine && itemForm.img[1].$error.required">
                                        La Foto del evento es requerida
                                </div>
                                <div class="md-input-messages-animation error-file" ng-if="itemForm.img[1].$error.maxSize">
                                        La Foto supera el tamaño permitido  max 1MB
                                </div>
                                </md-input-container>
                                <div>
                                <md-button id="uploadButton" class="md-raised md-fab md-mini">
                                    <md-icon md-font-icon="icon-file-image-box" class="s16"></md-icon>
                                </md-button>
                                </div>
                        </choose-file>       
                    </md-input-container> 
                
                <md-input-container>
                        <div class="text-center" ng-if="vm.newItem">                       
                            <img   ngf-thumbnail="vm.item.imgs[2]" alt=""  ngf-size="{width:200, height:200, quality:1.0}">
                        </div>
                        <choose-file layout="row" ng-if="vm.newItem">
                                <input id="fileInput"  name="img[2]" type="file" class="ng-hide"   ng-model="vm.item.imgs[2]" ngf-select  ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB">
                                <md-input-container flex class="md-block">
                                <input type="text" ng-model="fileName" disabled>
                                <div class="hint">Selecciona la tercera fotografía (opcional) </div>
                                <div class="md-input-messages-animation error-file" ng-if="itemForm.img[2].$error.pattern">
                                        El formato de la Foto no es valido  
                                </div>
                                <div class="md-input-messages-animation error-file" ng-if="!itemForm.img[2].$pristine && itemForm.img[2].$error.required">
                                        La Foto del evento es requerida
                                </div>
                                <div class="md-input-messages-animation error-file" ng-if="itemForm.img[2].$error.maxSize">
                                        La Foto supera el tamaño permitido  max 1MB
                                </div>
                                </md-input-container>
                                <div>
                                <md-button id="uploadButton" class="md-raised md-fab md-mini">
                                    <md-icon md-font-icon="icon-file-image-box" class="s16"></md-icon>
                                </md-button>
                                </div>
                        </choose-file> 
                    </md-input-container>    

            </md-dialog-content>
            <!-- / DIALOG CONTENT -->
    
            <!-- DIALOG ACTIONS -->
            <md-dialog-actions layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center">
                    <md-button type="submit" ng-if="!vm.newItem" ng-click="vm.saveItem()"
                               class="send-button  md-raised"
                               ng-disabled="itemForm.$invalid || itemForm.$pristine"
                             >
                        Guardar
                    </md-button>
    
                    <md-button type="submit" ng-if="vm.newItem" ng-click="vm.addNewItem()"
                               class="send-button  md-raised"
                               ng-disabled="itemForm.$invalid || itemForm.$pristine"
                              >
                       Agregar Agencia
                    </md-button>
    
                </div>
    
                
            </md-dialog-actions>
            <!-- / DIALOG ACTIONS -->
    
        </form>
    
    </md-dialog>
    <!-- / DIALOG -->